@charset "utf-8";/* CSS Document */

#header {position: relative;z-index: 10;float: left;width: 100%;padding: 18px 0 0 20px; background-color:#e7eaea; background:url(../images/header-bg.jpg) no-repeat; height:167px;}
#header #title {font-family: sans-serif;font-weight: 400;letter-spacing: -.025em;}
#header #title span a{margin-top:-5px;}
#header #title {/*margin:0px 0 0 20px;padding: 12px 0 13px 19px;*/ margin:0 0 0 10px; white-space: nowrap;font-size: 56px;line-height: 1em;word-spacing: .175em;}
#header #title img{margin-right:15px; border-right: 4px solid #056EB6;border-width:.4rem; padding-right:20px; /*max-width: 200px;*/}
#header #title .blogname {position: absolute; font-size: 40px; margin-top: -4px; }
#wrapper a:hover, #wrapper a:focus, #footer a:hover, #footer a:focus, #copyright a:hover, #copyright a:focus {/*border-bottom: 1px solid #BBB;*/text-decoration: none;}

#navigation a, #sidebar h2.widgettitle, #footer .footer-column h2 {font-family: sans-serif;font-weight: bold;letter-spacing: -.025em;font-size: 18px;line-height: 1.1818181818;text-transform: none;}
#wrapper a, #footer a, #copyright a {color: #056EB6;text-decoration: none; }

#wrapper, #footer, #copyright {position: relative;width: auto;max-width: 1080px;margin: 0 auto;color: #222;background: transparent;font-family: "Gill Sans W01 Book", "Gill Sans MT Pro", "Gill Sans", GillSans, sans-serif;font-size: 18px;line-height: 1.4444444444;font-weight: 300;padding: 0;}
#copyright {margin-top:20px;}
#navigation ul  {margin: 0 0 0 10px;padding: 0;}
#navigation, #navigation ul li, #navigation ul li a  {padding: 0; margin: 0 8px 0 0; color: #000;}
#navigation ul li a { padding: 2px 3px 2px 3px; background:rgb(255,255,255); background: transparent\9; background:rgba(255,255,255,0.5); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66ffffff,endColorstr=#66ffffff); zoom: 1;}
#navigation ul li a:hover {text-decoration: underline;}
#navigation { border:none; height:10px; }
#featured {	padding: 0 0 25px 0;	margin: 0;	position: relative; clear:left;	z-index: 0;  /*background-color:#e7eaea;*/ background:url(../images/header-content.jpg) no-repeat; height:139px;}
.container {width: 100%;	height: 121px;	position: relative; }
#slides {	width: 100%;	position: absolute;	top: 0;	left: 0;}
.slides_container {	width: 100%;	height: 139px;	overflow: hidden;	position: relative; }
#slides div.slide {	position: absolute;	top: 25px;	right:25px;	width: 100%;	z-index: 100;}
#slides div.show-slide {	display: block;}
.slide img {position: absolute;	z-index: 50;	width: 652px;	height: 353px;	top: -20px;	left:55px;	display:block;}
.slide-content {z-index: 100;	position: absolute; right:-25px;	width: 560px;	height:32px;	padding:5px 20px 10px 20px; background-color:#ffffff; /*box-shadow: 3px 3px 3px #888;*/ margin-top:38px; opacity:0.9;filter:alpha(opacity=90);}
.slide-content h2 {	color:#666;	font-size: 1.4em;	font-family: Helvetica, Arial, sans-serif;	font-weight: normal;	text-shadow: 0 1px 0 #222;}
.slide-content p {font-size: 1.35em;	line-height: 1.5em;	margin: 0 0 10px 0; color:#383838;}
/*.slide-content p span.top {background:url(/wp-content/themes/linen_pro/images/top-quote.gif) no-repeat; height:40px; width:46px;}
.slide-content p span.bottom {background:url(/wp-content/themes/linen_pro/images/bottom-quote.gif) no-repeat; height:40px; width:46px;}*/
.slide-content a.more-link {	display: block;	position: absolute;	bottom: 0;	right: 0;	padding: 10px 20px;	font-family: Helvetica, Arial, sans-serif;	color: #fff;	background: #333;  }
.slide-content a:hover.more-link {	background: #000;}
#slides a.prev,
#slides a.next {display: none;	position: absolute;	top: 130px;	left: -50px;	width: 20px;	height: 40px;	opacity: .5;}
#slides a.next {left: 930px;}
#slides a:hover.prev,
#slides a:hover.next {	opacity: 1;	border-left: 1px solid #fff;}
#slides a:hover.prev {	left: -51px;	border-left: none;	border-right: 1px solid #fff;}

.entries li {margin: 6px 0 12px 0; border-bottom: solid 1px #efefef; padding: 0 0 12px 0;}
.entries li a { font-size: 1em; }
.widget, .textwidget, .textwidget li {font-size: 1em; line-height: 1.8em;}
.entries li .date-meta {font-size: .85em; float: none; display: inline-block;}
span.comment-date {font-size: .75em; color: #383838;}

.home #content .post:first-child {
  font-weight: bold;
}
/* Only display avatars for registered users */
.comment .c-grav {display:none;}
.comment.byuser .c-grav {display: block;}
