@charset "utf-8";/* CSS Document */

#header {position: relative;z-index: 10;float: left;width: 100%;padding: 18px 0 0 20px; background-color:#e7eaea; background:url(../images/header-bg.jpg) no-repeat; height:167px;}
#header #title {font-family: sans-serif;font-weight: 400;letter-spacing: -.025em;}
#header #title span a{margin-top:-5px;}
#header #title {/*margin:0px 0 0 20px;padding: 12px 0 13px 19px;*/ margin:0 0 0 10px; white-space: nowrap;font-size: 56px;line-height: 1em;word-spacing: .175em;}
#header #title img{margin-right:15px; border-right: 4px solid #056EB6;border-width:.4rem; padding-right:20px; /*max-width: 200px;*/}
#header #title .blogname {position: absolute; font-size: 40px; margin-top: -4px; }
#wrapper a:hover, #wrapper a:focus, #footer a:hover, #footer a:focus, #copyright a:hover, #copyright a:focus {/*border-bottom: 1px solid #BBB;*/text-decoration: none;}

#navigation a, #sidebar h2.widgettitle, #footer .footer-column h2 {font-family: sans-serif;font-weight: bold;letter-spacing: -.025em;font-size: 18px;line-height: 1.1818181818;text-transform: none;}
#wrapper a, #footer a, #copyright a {color: #056EB6;text-decoration: none; }

#wrapper, #footer, #copyright {position: relative;width: auto;max-width: 1080px;margin: 0 auto;color: #222;background: transparent;font-family: "Gill Sans W01 Book", "Gill Sans MT Pro", "Gill Sans", GillSans, sans-serif;font-size: 18px;line-height: 1.4444444444;font-weight: 300;padding: 0;}
#copyright {margin-top:20px;}
#navigation ul  {margin: 0 0 0 10px;padding: 0;}
#navigation, #navigation ul li, #navigation ul li a  {padding: 0; margin: 0 8px 0 0; color: #000;}
#navigation ul li a { padding: 2px 3px 2px 3px; background:rgb(255,255,255); background: transparent\9; background:rgba(255,255,255,0.5); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66ffffff,endColorstr=#66ffffff); zoom: 1;}
#navigation ul li a:hover {text-decoration: underline;}
#navigation { border:none; height:10px; }
#featured {	padding: 0 0 25px 0;	margin: 0;	position: relative; clear:left;	z-index: 0;  /*background-color:#e7eaea;*/ background:url(../images/header-content.jpg) no-repeat; height:139px;}

.blog-description {
  z-index: 100;
  position: absolute;
  right: 0;
  bottom: 55px;
  width: 60%;
  padding: 10px 20px;
  background-color: #ffffff;
  margin-top: 38px;
  opacity: 0.9;
  filter: alpha(opacity=90);
  font-size: 1.35em;
  line-height: 1.5em;
  height: 3em;
  color: #383838;
}

.entries li {margin: 6px 0 12px 0; border-bottom: solid 1px #efefef; padding: 0 0 12px 0;}
.entries li a { font-size: 1em; }
.widget, .textwidget, .textwidget li {font-size: 1em; line-height: 1.8em;}
.entries li .date-meta {font-size: .85em; float: none; display: inline-block;}
span.comment-date {font-size: .75em; color: #383838;}

.home #content .post:first-child {
  font-weight: bold;
}
/* Only display avatars for registered users */
.comment .c-grav {display:none;}
.comment.byuser .c-grav {display: block;}
